################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Weather.API/bin
/Weather.API/obj/Debug
/Weather.APITests/bin/Debug
/Weather.APITests/obj/Debug
